
.container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  justify-content: space-between;
}

.mainContainer {
  height: 700px; 
  background-color: #ede5e5;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  border-radius: 25px;
  width: 35%;
  height: 550px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  background-color: #808080; 
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 25px;
  border: #808080;
}

.addButton, 
.CompleteButton, 
.deleteButton, 
.editButton {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

.addButton {
  background-color: #4caf50;
  margin-top: 10px;
  padding: 20px;
}

.CompleteButton {
  background-color: #4caf50;
}

.deleteButton {
  background-color: #cb8282;
}

.editButton {
  background-color: gray;
}

.tabsContainer,
.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabButton,
.filterButton {
  padding: 10px 20px;
  margin: 0 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
}

.taskListContainer {
  width: 60%;
  padding: 20px;
  height: 500px;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.taskList {
  list-style: none;
  padding-left: 0;
  margin: 0; 
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 25px;
  margin-top: 10px; 
  padding: 20px;
}

.taskButtons {
  display: flex;
  gap: 10px;
}

.addButton, 
.CompleteButton, 
.deleteButton, 
.editButton {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .inputContainer, .taskListContainer {
    width: 100%;
    margin-top: 20px;
  }

  .filterContainer {
    flex-direction: row;
  }

  .tabButton, .filterButton {
    margin: 5px 10px;
    font-size: 14px;
  }

  .taskItem {
    align-items: flex-start;
  }

  .taskButtons {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .taskListContainer {
    padding: 15px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 5px;
  }

  .addButton {
    padding: 10px;
    font-size: 14px;
  }

  .tabButton, .filterButton {
    padding: 8px 10px;
    margin: 0 5px;
    font-size: 12px;
  }

  .filterContainer {
    flex-direction: row;
    align-items: center;
  }

  .taskItem {
    padding: 10px;
    display: flex;
  }

  .taskButtons {
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .taskListContainer {
    padding: 10px;
    height: auto;
  }

  .taskItem {
    padding: 10px;
  flex-direction: column-reverse;
  }

  .addButton, 
  .CompleteButton, 
  .deleteButton, 
  .editButton {
    padding: 8px;
    font-size: 12px;
    width: 100%;
    margin-top: 5px;
  }
}
